.about {
  min-height: 210px;
  padding-top: 150px;

  &__title {
    float: left;
    margin-left: 105px;
  }

  &__text {
    max-width: 590px;
    margin: 0 auto;
  }
}

@media screen and (max-width: $small-screen) {
  .about {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    &__title {
      float: none;
      margin: 0 auto;
      padding-bottom: 10px;
    }

    // &__text {
    //   margin: 0 10px;
    // }
  }
}
