.header {
  width: 100vw;
  height: 840px;
  background: linear-gradient(to right, #f4f9e2 75%, #fff 25%);
  overflow: hidden;

  &__top {
    margin: 30px auto;
  }

  &__info {
    margin: 170px 0 78px;
  }
}

// @media screen and (max-width: $small-screen) {
//   .header {

//   }
// }
