.nav {
  z-index: 1;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
}

@media screen and (max-width: $small-screen) {
  .nav {
    flex-direction: column;
  }
}
