@media screen and (min-width: $large-screen) {
  .page {
    &__header,
    &__main,
    &__footer {
      max-width: $large-screen;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .page {
    &__header,
    &__footer {
      padding: 0 $outer-size;
    }
  }
}
