.top {
  display: flex;
  max-width: 1130px;
  justify-content: space-between;
  align-items: center;

  &__button {
    padding: 19px 30px;
    background-color: $main-color;
    border: none;
    border-radius: 50px;
    z-index: 1;
  }
}

@media screen and (max-width: $small-screen) {
  .top {
    flex-direction: column;
    gap: 20px;
  }
}
