.top {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__title {
    z-index: 1;
  }
}

@media screen and (max-width: $small-screen) {
  .top {
    flex-direction: column;
    gap: 20px;
  }
}
